
body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Manrope', sans-serif;
  background-color: aquamarine;
}

.main {
  margin-top: 7em;
}

.main__buy-now {
  width: 550px;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 3.5em 2.5em 2em 2.5em;
}

.main__title, .main__subtitle {
  text-align: center;
}

.main__title{
  font-weight: 800;
}

.main__subtitle{
  margin-top: -1em;
}

.buy-now__offer {
  display: grid;
  grid-template-columns: 1fr auto auto;
}

.offer__price {
  font-weight: 800;
  font-size: xx-large;
  margin-top: -.4em;
}

.offer__billing-period {
  margin-top: -.2em;
}

.buy-now__range {
  text-align: center;
}

.range__billing-type {
  width: 100%;
}

.frame {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  position: center;
  margin-top: 7px;
}



