.start-trial-button {
    background-color: #293356 ;
}
.background{
    background-color: #f1f5fe;

}
.body{
    background-image: url("./images/bg-pattern.svg");
}
.frame{
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    position: center;
    margin-top: 7px;
}
.PageViews{
    position: center;
}